.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  width: 500px;
  margin: 70px auto;
  padding: 20px ;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.name-description{
  width: 100%;
  margin:5px auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #D7D7D7;
  overflow: hidden;
}

#Card-name{
  width: 100%;
  border: none;
}

#Card-desc{
  width: 100%;
  border: none;
  border-top: 2px solid #d7d7d7;
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'museo-sans';
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
.btn1{
    float: left;
}

.btn2{
  float: right;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
